^{:watch-dirs ["src" "test"]
  :auto-testing true
  :open-url true
  :ring-server-options {:port 9300}}
{:optimizations :none
 ; :checked-arrays :warn
 :closure-defines {"goog.DEBUG" true}
 :parallel-build true}
